<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="snp_prbt_description">
  
  <xacro:include filename="$(find prbt_support)/urdf/prbt_macro.xacro"/>
  <xacro:include filename="$(find snp_ur_description)/urdf/snp_tool.urdf.xacro"/>
  <xacro:include filename="$(find snp_ur_description)/urdf/ur_table.urdf.xacro"/>

  <xacro:property name="prefix" value="prbt_"/>

  <!-- Add necessary xacros here-->

</robot>
