<?xml version="1.0"?>
<launch>

  <arg name="sim_robot" default="false"/>
  <arg name="pipeline" default="command_planner"/>
  <arg name="controller_group" default="manipulator"/>
  <arg name="urdf_file" default="$(find snp_ur_description)/urdf/snp_ur_demo.urdf.xacro" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <param name="robot_description" type="str" command="$(find xacro)/xacro --inorder '$(arg urdf_file)' sim:=$(arg sim_robot)"/>

  <!-- Robot -->
  <group if="$(arg sim_robot)">
    <include file="$(find snp_ur_bringup)/launch/ur_gazebo.launch"/>
  </group>

  <group unless="$(arg sim_robot)">
    <include file="$(find snp_ur_bringup)/launch/ur5_bringup_joint_limited.launch">
      <arg name="robot_ip" value="192.168.0.1"/>
    </include>
  </group>


  <rosparam command="load" file="$(find snp_ur5_moveit_config)/config/joint_names.yaml"/>

  <include file="$(find snp_ur5_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="fake_execution" value="false"/>
    <arg name="pipeline" value="$(arg pipeline)" />
  </include>

  <!-- tool -->
  <node name="snp_prbt_support" pkg="snp_ur_support" type="spindle_sim"/>

  <!-- camera -->
  <!--include file="$(find snp_prbt_support)/launch/setup_camera.launch" unless="$(arg sim_robot)">
    <arg name="roi_lower" value="{'x': -0.16, 'y': -0.4, 'z': 0.0}"/>
    <arg name="roi_upper" value="{'x':  0.16, 'y':  0.4, 'z': 0.6}"/>
  </include-->

</launch>
