<?xml version="1.0"?>
<launch>
  <!-- Override robot_name argument -->
  <arg name="robot_name" default="ur5" />
  <arg name="paused" default="true"/>
  <arg name="gui" default="false"/>

  <param name="use_gui" value="$(arg gui)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find snp_ur_description)/worlds/ur_robot.world"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name)
    -J shoulder_pan_joint   -1.6225
    -J shoulder_lift_joint  -1.6571
    -J elbow_joint          -1.4844
    -J wrist_1_joint        0.2071
    -J wrist_2_joint        1.519
    -J wrist_3_joint        0.8285
    "/>

  <!-- Controllers -->
  <rosparam command="load" file="$(find ur_gazebo)/controller/arm_controller_ur5.yaml" />
  <rosparam file="$(find ur_gazebo)/controller/joint_state_controller.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="arm_controller joint_state_controller" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
